<a href="https://colab.research.google.com/github/adias311/python-tv-show-analysis/blob/main/tv_show_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
npm = 202243501173
name = "Adias Afnan Valentino"
Class = "R6L"

print("NPM :", npm, "\nNama :", name , "\nKelas : ", Class)

NPM : 202243501173
Nama : Adias Afnan Valentino
Kelas :  R6L

**a**) *Buatlah Statistika Deskriptif dari data tersebut dengan menggunakan pandas*

In [2]:
# import EDA library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_tv_show = "https://raw.githubusercontent.com/adias311/python-tv-show-analysis/main/tv_show.csv"

# show dataframe
df = pd.read_csv(data_tv_show)
df.head(25)

,titleId,seasonNumber,title,date,av_rating,share,genres
0,tt0806901,44,Polizeiruf 110,2015,7.0000,0.00,"Crime,Drama"
1,tt0806901,40,Polizeiruf 110,2011,7.3595,0.02,"Crime,Drama"
2,tt0806901,39,Polizeiruf 110,2010,7.2000,0.01,"Crime,Drama"
3,tt0203259,20,Law & Order: Special Victims Unit,2018,8.6219,0.07,"Crime,Drama,Mystery"
4,tt0098844,20,Law & Order,2010,7.8286,0.28,"Crime,Drama,Mystery"
5,tt0203259,19,Law & Order: Special Victims Unit,2018,8.7060,0.63,"Crime,Drama,Mystery"
6,tt0098844,19,Law & Order,2009,7.7893,0.29,"Crime,Drama,Mystery"
7,tt0118401,19,Midsomer Murders,2017,7.3916,0.05,"Crime,Drama,Mystery"
8,tt0098844,18,Law & Order,2008,7.8470,0.31,"Crime,Drama,Mystery"
9,tt0203259,18,Law & Order: Special Victims Unit,2017,8.0010,0.28,"Crime,Drama,Mystery"
10,tt0118401,18,Midsomer Murders,2016,7.1664,0.05,"Crime,Drama,Mystery"
11,tt0203259,17,Law & Order: Special Victims Unit,2016,8.6406,0.27,"Crime,Drama,Mystery"
12,tt0118401,17,Midsomer Murders,2015,7.5352,0.04,"Crime,Drama,Mystery"
13,tt0203259,16,Law & Order: Special Victims Unit,2015,6.5898,0.40,"Crime,Drama,Mystery"
14,tt0118401,16,Midsomer Murders,2014,7.5946,0.07,"Crime,Drama,Mystery"
15,tt0413573,15,Grey's Anatomy,2018,8.2666,0.07,"Drama,Romance"
16,tt0247082,15,CSI: Crime Scene Investigation,2014,7.4710,0.17,"Crime,Drama,Mystery"
17,tt0108757,15,ER,2009,7.7185,0.58,"Drama,Romance"
18,tt0203259,15,Law & Order: Special Victims Unit,2014,8.4387,0.40,"Crime,Drama,Mystery"
19,tt0118401,15,Midsomer Murders,2012,7.3327,0.13,"Crime,Drama,Mystery"
20,tt0452046,14,Criminal Minds,2018,9.0000,0.03,"Crime,Drama,Mystery"
21,tt0413573,14,Grey's Anatomy,2018,8.6014,1.23,"Drama,Romance"
22,tt0247082,14,CSI: Crime Scene Investigation,2014,7.5664,0.23,"Crime,Drama,Mystery"
23,tt0203259,14,Law & Order: Special Victims Unit,2013,8.8197,0.49,"Crime,Drama,Mystery"
24,tt0118401,14,Midsomer Murders,2011,7.3161,0.16,"Crime,Drama,Mystery"

In [6]:
# find duplicate rows
duplicate_rows_df = df[df.duplicated()]
print("baris yang memiliki duplikat : ", duplicate_rows_df.shape)

# show duplicate rows by titleId
if not duplicate_rows_df.empty:
    duplicate_title_ids = duplicate_rows_df["titleId"].unique()
    result = df[df["titleId"].isin(duplicate_title_ids)]
    print(result)
else:
    print("Tidak ada data duplikat.")

# delete duplicate data
df = df.drop_duplicates()

baris yang memiliki duplikat :  (1, 7)
        titleId  seasonNumber         title  date  av_rating  share  \
1558  tt3487410             1  The Whispers  2015     7.8569   0.14
1559  tt3487410             1  The Whispers  2015     7.8569   0.14

                    genres
1558  Drama,Horror,Mystery
1559  Drama,Horror,Mystery

1. **Pemusatan Data :**  Menggambarkan dimana data berpusat (mean, median, modus, min, max, dll..)

In [10]:
## Descriptive Stats (Pandas)

rename_dict = {
    "count": "Jumlah Data",
    "mean": "Rata-rata",
    "std": "Standar Deviasi",
    "min": "Nilai Minimum",
    "25%": "Kuartil Pertama",
    "50%": "Median",
    "75%": "Kuartil Ketiga",
    "max": "Nilai Maksimum"
}

desc = df.drop(columns=["titleId" , "title", "date" , "genres"]).describe(include="all").round(2)

date_stats = df["date"].agg(["min", "max", "median"]).rename({"min": "Rilis Awal", "max": "Rilis Akhir" , "median" : "Rata-rata tahun rilis"})

print(desc.rename(index=rename_dict))
print("\nStatistik untuk kolom tanggal:")
print(date_stats)

                 seasonNumber  av_rating    share
Jumlah Data           1634.00    1634.00  1634.00
Rata-rata                3.13       8.10     0.67
Standar Deviasi          3.27       0.65     1.47
Nilai Minimum            1.00       2.70     0.00
Kuartil Pertama          1.00       7.77     0.08
Median                   2.00       8.16     0.22
Kuartil Ketiga           4.00       8.53     0.63
Nilai Maksimum          44.00       9.55    18.95

Statistik untuk kolom tanggal:
Rilis Awal               2008.0
Rilis Akhir              2018.0
Rata-rata tahun rilis    2015.0
Name: date, dtype: float64